@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,700|Poppins:600');
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}
                        /*navbar*/
nav {
    font-family: 'Montserrat', sans-serif;
    background-color: #3853D8;
    color: white;
    display: flex;
    justify-content: space-around;
}
h1 {
    cursor:pointer;
    font-size: 33px;
}
.header-list-items > li {
    display: inline-block;
    list-style-type: none;
    padding-left: 0;
    align-self: center;
    padding: 13px;
    margin-top: 5px;
    font-size: 20px;
}
.header-list-items > li:hover {
    background-color: rgba(237, 243, 252, .5);
    border-radius: 5px;
}
li > a {
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.shopp-cart {
    position: relative;
    right: -85px;
    top: 18px;
}
fa-shopping-cart {
    margin-top: 20px;
    position: absolute;
    z-index: 1;
}
.items-length  {
    position: absolute;
    z-index: 2;
    margin-top: -40px;
    margin-left: 23px;
    background-color: white;
    border-radius: 30px;
    font-size: 13pt;
    padding: 0 5px;
}
             /*header*/
header {
    width: 100%;
    height: 300px;
    display: flex;
    position: relative;
    background-color: #0021C4;
    color: white;
    flex-flow: column wrap;
    align-items: center;
    padding: 30px;
    box-sizing: border-box;
}
header > span {
    font-size: 31px;
    font-weight: bold;
    text-transform: uppercase;
}
.list-items > li {
    display: inline-block;
    margin: 5px;
    padding: 5px;
}
.list-items > li:hover {
    background-color: rgba(237, 243, 252, .5);
    border-radius: 5px;
}
.top-cover {
    background-image: url("./cover1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    height: 681px;
    position: relative;
    top: -50px;
    box-sizing: border-box;
}
div[class=top-cover] {
    padding: 50px 0 0 50px;
    color: white;
    font-size: 20pt;
    font-family: 'Poppins', sans-serif;
}
.info-btn {
    border-radius: 10px;
    padding: 10px 20px;
    border: 2px solid skyblue;
    background-color: white;
    font-family: 'Poppins', sans-serif;
}
.info-btn:hover {
    background-color: skyblue;
    color: white;
}
                 /*the second navigation bar*/
#dropdown-menu {
    margin-top: -50px;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
}
#dropdown-menu > div {
    float: left;
    cursor: pointer;
    width: 25%;
    text-align: center;
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #ddd;
    font-size: 20px;
}
#mydropdown > a {
    display: block;
    text-decoration: none;
    margin: 12px 16px;
    color: black;
    font-size: 18px;
    text-align: left;
    margin-bottom: 50px;
}
#mydropdown > a:hover {
    box-shadow: 0 0 5px;
}
.dropdown {
    position: relative;
}
div.dropdown-content {
    display: none;
    position: absolute;
    min-width: 160px;
    border: none;
    z-index: 1;
}
.sizes {
    display: flex;
    justify-content: center;
    font-weight: bold;
    margin-bottom: 65px;
}
.sizes > .size-item {
    border-top: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    padding: 17px;
    margin-top: 10px;
}
.sizes > .size-item:last-child {
    border-right: 1px solid #ddd;
}
.sizes > .size-item:hover {
    box-shadow: 2px 2px 10px black;
}
                /*the main content of the page*/
.main-content {
    width: 70%;
    float: right;
    font-family: 'Montserrat', sans-serif;
}
.main-content li {
    width: 30%;
    height: 350px;
    border: 1px solid #ddd;
    list-style-type: none;
    display: inline-block;
    
    margin: 11px;
    box-sizing: border-box;

}
.main-content li p {
    color: #3853D8;
    margin: 20px;
}
.main-content li .product-name  {
    font-family: 'Montserrat', sans-serif;
    font-size: 18pt;
    color: black;
}
li img {
    width: 200px;
    height: 180px;
    display: block;
    margin: 10px auto;
}
.white-btn {
    border-radius: 20px;
    background-color: #f4f7fc;
    padding: 10px 20px;
    border: 1px solid #ddd;
    margin: 0 20px 0 20px;
    cursor: pointer;
}
.blue-btn {
    border-radius: 20px;
    background-color: #3853D8;
    border: 1px solid #3853D8;
    color: white;
    padding: 10px 15px;
    cursor: pointer;
}

            /*pagination */
.pagination {
    display: inline-block;
    width: 100%;
    padding: 25px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}
.pagination a {   
    text-decoration: none;
    color: black;
    font-size: 25px;
    border: 1px solid #ddd;
    transition: background-color 300ms;
    padding: 25px;    
}
.pagination a.active {
    background-color: #3853D8;
    color: white;
}
.pagination a:hover:not(.active) {
    background-color: #ddd;
}
.nav2 {
    width: 90%;
    margin: auto;
}
            /*the second cover foto*/
.bottom-cover {
    background-image: url("./cover3.jpg");
    background-size: cover;
    display: block;
    margin-right: auto;
    margin-left: auto;
    background-repeat: no-repeat;
    width: 100%;
    height: 681px;
    margin-top: 50px;
}
.bgCover-content {
    position: absolute;
    margin: 175px 110px;
    padding: 2px 50px;;
    color: cornsilk;
    font-size: 22px;
    border: 2px solid white;
    border-radius: 5px;
    width: 375px;
    height: auto;
    font-family: 'Poppins', sans-serif;
}
            /*sponsor list*/
.sponsors {
    list-style-type: none;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
.sponsor-item {
    margin: 60px;
    cursor: pointer;
}
.sponsor-item img {
    height: 50px;
}
.bottom {
    width: 100%;
    margin: auto;
}

        /*footer*/
footer {
    width: 100%;
    background-color: #363638;
    height: 400px;
    padding: 50px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
footer > div {
    width: 33%;
    float: left;
}
li > .image {
    width: 32px;
    height: 32px;
}
.block1 li {
    display: inline-block;
    margin: 5px;
    cursor: pointer;
}
footer h2 {
    color: white;
    margin: 50px 70px;
    cursor: pointer;
}
footer p {
    color: white;
    font-size: 13pt;
    text-align: left;
    margin-bottom: 20px;
}
.footer-block1 {
    width: 30%;
}
.footer-block2 {
    width: 40%;
}
.footer-block3 {
    width: 30%;
}
.block2 {
    padding-left: 0;
}
.block2 li {
    display: inline-block;
    margin: 7px;
    font-size: 16pt;
    color: white;
    cursor: pointer;
}
input[type=email] {
    height: 45px;
    width: 310px;
}
input[type=submit] {
    height: 50px;
    width: 107px;
    color: black;
    background-color: white;
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
}
/* pop-up animation*/
.pop-up {
    position: relative;
    bottom: -65px;
    animation: rise-up .7s ease forwards
}

@keyframes rise-up {
    0% {opacity: 0}
    70% {transform: translateY(-70px); opacity: 1}
    100% {transform: translateY(-65px)}
}

@media screen and (min-width: 960px) and (max-width: 1200px) {

.main-content li {
    width: 45%;
}
.top-cover-last-child {
    display: none;
}
.main-content ul li.hidden {
    display: none;
}
.bottom-cover {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    height: 400px;
}
.bgCover-content {
    padding: 5px 70px;
    margin: 65px -20px;
}
footer {
    display: flex;
    flex-flow: row wrap;
    font-size: 
}
.footer-block1 {
    order: 2;
    flex: 1;
    padding-left: 200px;
}
.footer-block3 {
    order: 2;
    flex: 1;
}
.footer-block2 {
    order: 1;
    align-self: flex-start;
    margin-top: -45px;
    margin-left: 250px;
    width: 100%;
}
footer > div {
    justify-content: space-between;
}
input[type=submit] {
    margin-left: 18px;
}
input[type=email] {
    margin-top: 15px;
}
footer h2 {
    margin: 20px 105px;
}
footer p {
    margin-bottom: -10px;
    font-size: 20px;
}
}